{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock %}
{% block body %}
   <div class="signup-form">	
    <form action="" method="post">
		<h2>Create Account</h2>
        <div class="form-group">
            <!-- <div>{{form.errors}}</div> -->
            <div class="messages">
                {% for msg in messages %}
                 <div class="alert alert-{{ msg.level_tag}}" role="alert">{{msg.message}}</div>
                {% endfor %}
            </div>
            <div class="messages">
                {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">Email already Exist</div> 
                {% endif %}
            </div>
            <div class="messages">
                {% if form.confirmPassword.errors %}
                <div class="alert alert-danger" role="alert">Passwords don't match</div> 
                {% endif %}
            </div>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
                <!-- <input type="text" class="form-control" name="username" placeholder="Username" required="required"> -->
                {% csrf_token %}
                {{form.name}}
                
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                {{form.email}}
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
                {{form.password}}
			</div>
        </div>
		 <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
                {{form.confirmPassword}}
			</div>
        </div>       
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
        </div>
		
    </form>
	<div class="text-center">Already have an account? <a href="/login">Login here</a>.</div>
</div>
{% endblock %}
