{% extends 'base.html' %}
{% block title %}
<title>Reset Password</title>
{% endblock %}

{% block body %}
<div class="login-form">
	<form action="" method="post">
		<br>
		{% csrf_token %}
		<!-- {{form}} -->
		{% for field in form %}  
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor %}
        {% endfor %}
		<div class="input-group">
			<label>Email Address</label>
			<input type="text" name="email" style="color: black" required>
		</div>
		<br>
		<div><center>
			<button class="btn btn-success">Sent</button>
			<button class="btn btn-danger" type="reset">Cancel</button>	</center><br>
		</div>
		
	</form>
</div>
{% endblock %}