{% extends 'base.html' %}
{% block body %}
    <center><h2>View Page</h2></center>
    <br>
    <center>
    <table class="table table-bordered table-dark" style="width: 50%;">
        <tr>
            <th>SNO</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
        </tr>
        {% endfor  %}
    </table></center>
    {% endblock %}